
2. Linguagem de Expressoes II/.idea/workspace.xml
2. Linguagem de Expressoes II/.idea/vcs.xml
2. Linguagem de Expressoes II/.idea/modules.xml
2. Linguagem de Expressoes II/.idea/misc.xml
2. Linguagem de Expressoes II/.idea/encodings.xml
2. Linguagem de Expressoes II/.idea/2. Linguagem de Expressoes II.iml
